<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Iris Species Classification</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Iris Species Classification</h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="sepal_length" placeholder="sepal_length" required="required">
            <input type="text" name="sepal_width" placeholder="sepal_width" required="required">
            <input type="text" name="petal_length" placeholder="petal_length" required="required">
            <input type="text" name="petal_width" placeholder="petal_width" required="required">
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        {{ prediction_text }}
    </body>
</html>
